*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 2rem;
}

.border{
    width: 30%;
    height: 53%;
    border: 1px solid red;
    text-align: center;
    
}

.pp{
    font-size: 40px;
}

#product-cards-container{
    
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.right_card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    width: 100%;
    background-color: aqua;
    gap: 1rem;
}

.count_section{
    width: 5rem;
    height: 2rem;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    align-items: center;
    cursor: pointer;
}


#cart-cards-cont{
    height:75%;
    width: 100%;
    border: 1px solid black;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#total-price-card{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#total-price-card>p{
    font-size: 25px;
    font-weight: 600;
}

